@charset "utf-8";
@import './base.scss';
.btn-theme-green {
  color: #20e215 !important;
  border: 1px solid #20e215 !important;
  &:hover {
    background-color: #20e215 !important;
    color: #fff !important;
  }
}
//人员概况面板
#people-modal {
  top: 3vh;
}

// 上传组件样式
.webuploader-pick + div {
  width: 100% !important;
  height: 100% !important;
}

#choose-file {
  position: relative;
  overflow: hidden;
  input {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}
